
<div id="id<%= item.id %>">
<div class="item">
    <%= item.name %>,
    <%= item.group %>
    <%= link_to 'Destroy', item, :method => :delete, :remote => true %>
</div>
<div class="spacer"> </div>
</div>
