<%= stylesheet_link_tag "main" %>

<h1>AND Shoppinglist Admin</h1>

<%= render 'form' %>

<div id="stock_container">
<%= render :partial => @stocktypes, :locals => { :list => true } %>
</div>

<br />



</div>

